<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715555092220-251en4ejgurhjmpnqht3hsap15710bii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715555092220-7ocqn27gsq2mhmmg9ae7s34oe43efdtt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>715555092220-0u80u3rr7bbtc9jpq7j5ehulhp67g9s1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAzUmNl06jhzrOJLvHkErblBexGemumkc</string>
	<key>GCM_SENDER_ID</key>
	<string>715555092220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FlavourEnvSetup</string>
	<key>PROJECT_ID</key>
	<string>fes-dev-71aaa</string>
	<key>STORAGE_BUCKET</key>
	<string>fes-dev-71aaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715555092220:ios:5db7c508120179d10f8979</string>
</dict>
</plist>